*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common styles */
body{
 background-color: #F5F8FF;
}




/* shared styles */
/* <weight>: Use a value from 100 to 900
   <uniquifier>: Use a unique and descriptive class name */




.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.raleway-default {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* inter font */
.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.inter-default {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}



.purple-text {
  color: #4E47FF;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.space{
padding:55px 0;
}

.text-center {
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius:10px;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #5855eb;
}



.section-title {
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 20px;
}










/* banner styles */
.banner {
  background-image: url('./Assets/Hero-bg.png');
  background-position: center;
  display: flex;
  flex-direction: column;
  
}


/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 0;
}

.logo{
  font-size:35px;
}

/* Hero content styles */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 10px;
  max-width: 905px;
  width: 100%;
  margin: 0 auto;
}

.hero-content h1 {
  font-size:65px;
  font-weight: bold;
  margin-bottom: 30px;
  max-width: 800px;
  line-height: 1.2;
  color: #000;
}




/* action section styles */

.action-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.action-left {
  flex: 1;
  max-width: 500px;
}

.action-description {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.48);
  margin-bottom: 20px;
  line-height: 35px;
}


.action-right {
  flex: 1;
  display: flex;
  justify-content: end;
}

.action-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}


/* productive user section styles */

.productive-user-content{
background-color: rgba(78, 71, 255, 0.1);
border-radius:10px;
padding: 30px;
}


.productive-section-title {
  font-size:38px;
  color: rgba(37, 36, 50, 1);
  margin-bottom:30px;
}


.productive-numbers {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

.productive-number{
  font-size: 80px;
  text-transform: uppercase;
}

.productive-description{
  font-size:20px;
  color: rgba(37, 36, 50, 0.48);
}


/* review section styles */
.review-item-star {
  margin-bottom: 15px;
}

.review-item h4{
font-size:24px;
color: #1E1E1E;
margin-bottom: 15px;
}


.review-content {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.review-item p{
 color: #757575;
 font-size: 16px;
}
.review-item {
  background-color: #FFFFFF;
  border-radius: 24px;
  border: 1px solid #F2EDED;
  padding: 30px;
}


.review-user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.review-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.review-user-info h5{
  font-size: 16px;
  color: #757575;
}

.review-user-info p{
  color: #B3B3B3;
  font-size: 16px;
}